body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
  background: rgb(87, 117, 218);
}

.label {
  padding-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

.number-input {
  border: 2px;
  border-color: black;
  border-radius: 5px;
}

.right-align-placeholder::placeholder {
  text-align: right;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.font-arial
{
  font-family: Arial;
}

form {
  text-align: center;

  width: 40%;
  margin: 0 auto;

  padding: 5px;
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.small-text {
  font-size: 80%;
  font-style: italic;
}